<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthwindUI.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=192.168.1.130;Initial Catalog=Northwind;User ID=Sierra;Password=detail" providerName="System.Data.SqlClient" />
        <add name="NorthwindUI.Properties.Settings.NorthwindConnectionString1" connectionString="Data Source=192.168.1.130;Initial Catalog=Northwind;User ID=Sierra;Password=detail" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>